/************************************************************************************************************************
*
* styles pour les quiz de de Quiz And Survey Master https://fr.wordpress.org/plugins/quiz-master-next/
*
************************************************************************************************************************/

/* 
* attention le style du questionnaire doit être réglé sur custom
*/

span.mlw_qmn_question_number {
	float: left;
	margin-right: 1%;
}


.qmn_quiz_container textarea{
	border: 1px solid #F5B053 ;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.mlw_qmn_quiz input[type=submit] {
	color: #25597F !important ;
	background: #F5B053 !important ;
	text-shadow: none !important;
	font-weight: normal !important;
}

div.mlw_qmn_quiz input[type=submit]:hover {
	color: #F49631;
	background: #6891AF;
	text-shadow: none;
	font-weight: normal;
}

.qmn_question_answer.qmn_question_answer_incorrect, 
.qmn_question_answer.qmn_question_answer_correct {
	margin-bottom: 2%;
	margin-top: 2%;
	border-left: 5px #F5B053 solid;
	padding-left: 15px;
}

