/* 
*
* style site IB : PAGE d'ACCUEIL UNIQUEMENT
* 
* tout doit être précédé de body.home ET cette feuille ne doit être chargée que pour l'accueil (is_front_page)
*/

/* .page-template-IB-home-template section.section-1 */


/***** MENUS secondaire ESSAI SUR FRONT PAGE seulement ****/
@media only screen and (min-width: 1025px) {

	#menu-secondary ul li a:hover, #menu-secondary ul li a:focus {
		position: relative;
		display: block;
		width: 180px;
		padding: 18px 25px;
		font-size: .75rem;
		font-weight: 400;
		line-height: 1.5;
		border-top: 1px solid;
		text-align: left;
	}

	.ltr #menu-secondary li li {
		margin-left: 24px !important;
	}

	#menu-secondary ul li:hover > a, #menu-secondary ul li:focus > a {
		background: #25597F;
	}
	
	#menu-secondary li li a {
		background: #25597F !important;
	}
	
	.menu li>ul::before {
		border-bottom-color: transparent !important;
	}
	
}



/********************************************************************************************************
 * 2 - polices 
 *
 ********************************************************************************************************/
.page-template-IB-home-template h2 {
	
	border-bottom: 0 !important;
	text-align: center;
	padding-bottom: 0 !important;
	
}

body.home .content-1 p,
body.home .content-2 p,
body.home .content-3 p,
body.home .content-5 p {
	text-align: center;
}

body.home .content-2 {
	font-size: 120%;
}

body.home .content-3 img {
	max-width: 45%;
}

@media only screen and (max-width: 370px) {

	.page-template-IB-home-template .content-1 p {
		line-height: 1;
		margin-bottom: 0.9rem;
	}

	a.su-button.su-button-style-flat.clea-ib-button {
		margin-top: 1.1rem;
	}

	body.home .content-1,
	body.home .content-2,
	body.home .content-3,
	body.home .content-4,
	body.home .content-5 {
		max-width: 90%; 
	}
	
}


@media only screen and (min-width: 371px) and (max-width: 799px) {

	.page-template-IB-home-template .content-1 p {
		line-height: 1;
		margin-bottom: 0.9rem;
	}

	a.su-button.su-button-style-flat.clea-ib-button {
		margin-top: 1.1rem;
	}
	
	body.home .content-1 img{
		max-width: 25%;
	}	

	body.home .content-1,
	body.home .content-2,
	body.home .content-3,
	body.home .content-4,
	body.home .content-5 {
		max-width: 95%; 
	}	
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {

	.page-template-IB-home-template .content-1 p {
		line-height: 1.1;
		margin-bottom: 0.9rem;
	}

	a.su-button.su-button-style-flat.clea-ib-button {
		margin-top: 1.85rem;
	}

	body.home .content-1,
	body.home .content-2,
	body.home .content-3,
	body.home .content-4,
	body.home .content-5 {
		max-width: 95%; 
	}
	
}

@media only screen and (min-width: 1025px) {

	.page-template-IB-home-template .content-1 p {
		line-height: 1.2;
		margin-bottom: 0.9rem;
	}

	a.su-button.su-button-style-flat.clea-ib-button {
		margin-top: 1.1rem;
	}

	body.home .content-1,
	body.home .content-2,
	body.home .content-3,
	body.home .content-4,
	body.home .content-5 {
		max-width: 1075px; 
	}
}

/********************************************************************************************************
 * 1 - forme page 
 *
 ********************************************************************************************************/
body.home #main,
body.home main#content,
body.home section {
	width: 100% ;
	max-width: none;
}

body.home header.entry-header {
	display: none;
}

body.home .content-1,
body.home .content-2,
body.home .content-3,
body.home .content-5 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: auto;
	padding: 35px 15px;
}

body.home .content-4 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: auto;
	padding: 35px 15px 10px 15px;	
}

body.home img {
	margin: 0 auto 0;
}

/********************************************************************************************************
 * 0 - colors
 *
 * 
 ********************************************************************************************************/
body.home .content-2 /*,
body.home .content-4*/ {
	 color: white ;
 }

body.home section.section-2 ,
body.home section.section-5 {
	 background-color: rgba(104,145,175,0.5) ;
 }
 
body.home .content-4 {
	border-top: 4px solid rgba(104,145,175,0.5);
	/* border-bottom: 4px solid rgba(104,145,175,0.5); */
} 

/*
body.home aside#sidebar-subsidiary {
	border-top: 4px solid rgba(104,145,175,0.5);
}
*/

/*
body.home blockquote {

	border-left: 4px solid rgba(104,145,175,0.85) !important;
	outline-color: transparent !important;
	background-color: transparent !important;

	color: #ffffff ;
}
*/

body.home .content-4 {
	 color: #25597F ;
 }

 
