/* 
*
* style site IB
*
*/

/********************************************************************************************************
 * TESTS
 *
 ********************************************************************************************************/

header#test3.site-header{
	background: url(../images/test-768-400.jpg) center ;	
}

/********************************************************************************************************
 * 2 - header
 *
 ********************************************************************************************************/

img.custom-logo {
	width: auto;
	height: 78px;
	margin-bottom: 0 !important;
} 
 
.display-header-text #header,
header#header.site-header {
	border-bottom: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div#clea-header {
	position: relative;
}

.custom-logo {
	margin-bottom: 0 !important ;
}

.ib-fond {
	display: flex;
}

.ltr.display-header-text #menu-secondary, .ltr.display-header-text #menu-secondary ul, .ltr.wp-custom-logo #menu-secondary, .ltr.wp-custom-logo #menu-secondary ul {
	float: none !important;
}

.custom-background #header, .custom-background #main, .custom-background #sidebar-subsidiary {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
	
.ib-fond {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 370px) {

	img.custom-logo {
		width: 62px;
		height: 60px;
	}

	#menu-secondary li a, #menu-secondary .menu-toggle button {
		color: rgba(255,255,255,1) !important;
		background: rgba(104,145,175,0.5) !important;
		border-color: rgba(104,145,175,1) !important;
	}

	div#clea-branding {
		padding: 0;	
	}

	nav#menu-secondary {
		position: initial;
		width: initial;
		max-width: 60% ;
		margin-left: auto;
	}

	
	/* Temoignages1200-400-300x100.jpg */
	.display-header-text #header,
	header#header.site-header {
		background: url(../images/Temoignages1200-400-300x100.jpg) no-repeat center;
		min-height: 100px;
		background-size: 100%;
		margin-top: -5px;

	}

	div#clea-header {
		top: 30px;
	}

	.ib-fond {
		max-width: 90%;
	}
	
}

@media only screen and (min-width: 371px) and (max-width: 799px) {

	#menu-secondary li a, #menu-secondary .menu-toggle button {
		color: rgba(255,255,255,1) !important;
		background: rgba(104,145,175,0.5) !important;
		border-color: rgba(104,145,175,1) !important;
	}

	nav#menu-secondary {
		position: initial;
		width: initial;
		margin-left: auto;
	}	
	
	/*Temoignages1200-400-800x267.jpg */
	.display-header-text #header,
	header#header.site-header {
		background: url(../images/Temoignages1200-400-800x267.jpg) no-repeat center;
		min-height: 267px;
		background-size: 100%;
		margin-top: -15px;

	}

	div#clea-header {
		top: 150px;
	}

	div#clea-branding {
		padding: 0.5%;
		display: flex;		
	}
	
	.ib-fond {
		max-width: 95%;
	}


	
}

@media only screen and (min-width: 800px) and (max-width: 1024px){

	#menu-secondary li a, #menu-secondary .menu-toggle button {
		color: rgba(255,255,255,1) !important;
		background: rgba(104,145,175,0.5) !important;
		border-color: rgba(104,145,175,1) !important;
	}

	nav#menu-secondary {
		position: initial;
		width: initial;
		margin-left: auto;
	}	
	
	.display-header-text #header,
	header#header.site-header {
		background: url(../images/Temoignages1200-400-1024x341.jpg) no-repeat center;
		min-height: 341px;
		background-size: 100%;
		margin-top: -45px;

	}

	div#clea-header {
		top: 170px;
	}


	div#clea-branding {
		padding: 0.5%;
		display: flex;		
	}
	
	.ib-fond {
		max-width: 95%;
	}
		
}

@media only screen and (min-width: 1025px) {

	.display-header-text #header,
	header#header.site-header {
		background: url(../images/Temoignages1200-400.jpg) no-repeat center;
		min-height: 400px;
		background-size: 100%;
		margin-top: -35px;

	}

	div#clea-header {
		top: 270px;
	}

	nav#menu-secondary {
		display: flex;	
		margin-top: auto;
		margin-bottom: auto;
		padding-top: 0 !important;
	}
	
	div#clea-header {
		background-color: rgba(104,145,175,0.5);
	}

	div#clea-branding {
		padding: 0.5%;
		display: flex;		
	}

	.ib-fond {
		max-width: 1075px;
	}
	
}
	





/********************************************************************************************************
 * 1 - forme page 
 *
 ********************************************************************************************************/

.custom-background #container>.wrap {
	max-width: none !important;
	margin-top: 0 !important;
	margin-bottom: 20px !important;
}

.header-image {
	width: 100%;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

header#header .wrap {
	margin-left: 0 !important; 
	margin-right: 0 !important;
}

@media only screen and (min-width: 800px) {

	#main {
		max-width: none;
		margin-left: auto;
		margin-right: auto;
	}

	main#content {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	
}


/********************************************************************************************************
 * 0 - colors
 *
 * couleur primaire : jaune marron #dcc02a
 * couleur secondaire : violet #702192
 * troisème couleur : jaune vert #d4da2a
 * couleur foncée de police : violet foncé #220a60
* 
 ********************************************************************************************************/

#menu-primary {
	background: #e3c092;
}


#menu-secondary li a {
	color: #FFFFFF !important;
}

blockquote {
	outline-color: rgba(227, 192, 146,0.5) !important;
	background-color: rgba(227, 192, 146,0.5) !important;
	color: #656565 !important;
}